{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width:500px;">
    <h2 class="text-center mb-4">🔐 Login</h2>

    <form method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <div class="input-group">
                <input type="password" id="password" name="password" class="form-control" required>
                <button type="button" class="btn btn-outline-secondary" onclick="togglePassword()">👁</button>
            </div>
        </div>

        <!-- Only student login supported -->

        <button type="submit" class="btn btn-primary w-100">Login</button>

        <p class="mt-3 text-center">
            New user? <a href="{% url 'accounts:register_student' %}">Register here</a>
        </p>

        <p class="text-center">
          <a href="{% url 'accounts:forgot_password' %}">Forgot Password?</a>
        </p>
    </form>
</div>

<script>
function togglePassword() {
    const pass = document.getElementById("password");
    pass.type = pass.type === "password" ? "text" : "password";
}
</script>
{% endblock %}
